
header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg, rgb(0, 113, 43), rgb(23, 146, 70));
    color: white;
    font-weight: 700;
    height: 80px;
    font-size: 18px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    z-index: 10000;
    direction: rtl; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
}

header .dropDown{
    display: flex;
    gap: 25px;
}

header .logo {
    filter: brightness(1) invert(0);
}

header .logo img{
    height: 65px;
}

header nav .dropDown{
    padding-right: 100px;
}

header nav .dropDown .dropDownBlock{
    padding: 10px;
}

header nav .dropDown .dropDownBlock:hover{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 202, 40);
}

header nav .dropDown .dropDownBlock p{
    font-weight: 700;
}

.phone{
    display: none;
}