/* all */
*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', Arial, sans-serif; 
    font-weight: 400;
    font-style: normal;
}

/* constant */
a{
    text-decoration: none;
    color: inherit;
}

/* a:hover::after{
    content: var(--tooltipTEXT);
    background-color: rgb(37, 37, 37);
    color: white;
    position: fixed;
    border-radius: 20px;
    padding: 10px;
} */

/* main */
main{
    padding-top: 80px;
    padding-bottom: 800px;
}